.body {
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
}

.content-page {
  width: 70%;
}

.info-card {
  i {
    margin: 5px;
    font-size: xx-large;
    border: 3px solid #051074;
    border-radius: 15%;
    padding: 5px;
    color: #011aff;
    transition: all 0.7s ease;
  }

  i:hover {
    cursor: pointer;
    border: 3px solid #01083f;
    color: #acb2e9;

    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.7s ease;
  }
}

@media screen and (max-width: 768px) {
  .content-page {
    width: 100%;
  }

  .body {
    background-color: black;
    height: 100%;
    width: 100%;
  }
}
