@tailwind base;
@tailwind components;
@tailwind utilities;

.code-title {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400;
  font-style: normal; */
}

.jetbrains {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: 400;
  font-style: normal; */
}

.text-color-primary{
  color: #001aff;
}

.bg-secundary{
  background-color: #151515;
}
