<div class="w-full bg-black">
  <div class="grid ">
    <div class="col flex flex-col justify-center items-center jetbrains pt-5 md:pt-10">

      <h1 class="text-center text-white text-lg">Contato</h1>


      <div class="flex flex-col justify-center items-center text-center jetbrains text-white space-y-4 p-4 md:p-8">
        <p class="text-sm md:text-base lg:text-lg">guilherme.strg&#64;gmail.com</p>
        <p class="text-sm md:text-base lg:text-lg">+55 (34) 98403-9344</p>
        <a class="text-sm md:text-base lg:text-lg break-words"
          href="https://www.linkedin.com/in/guilhermebarbosa-dev/">Linkedin: guilhermebarbosa-dev</a>
      </div>

    </div>
  </div>


  <div class="w-full flex flex-col justify-center items-center text-white jetbrains bg-secundary p-2">
    <p>Guilherme Barbosa Rocha</p>
  </div>
</div>
